/*General config*/
html, body, span, div, p, li  {
    font-family: Georgia, serif;
    font-size: 1em;
    font-weight: normal;
    color: #1a1a1a;
    background-color: #fdfdfd;
}

h1 {
    font-size: 3em;
    font-weight: normal;
}

h1 > div {
    font-size: 0.25em; 
    font-weight: normal;
}

h2, h3 {
    font-size: 1.2em;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

p, li, span {
    text-align: justify;
}

a {
    text-decoration: none;
    font-weight: normal;
}

/*
div {
    border-style: solid;
    border-width: 1px;
}
*/

/*Photo ID*/

.photo-id > img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5em;
    border-color: #548AB7;
}

/*summary*/

.summary > h2 {
    color: #548AB7;
}

.summary > p {
    text-align: left;
}

/*contact*/

.contact > h2 {
    color: #548AB7;
}

.contact > div > div {
    margin-bottom: 1em;
}

/*skills*/

.skills > h2 {
    color: #548AB7;
}

.skills > table > thead {
    display: none;
}

.skills > table > tbody > tr > th {
    text-align: left;
    font-weight: normal;
    padding: 0.2em 1em;
}

.skills > table > tbody > tr > td {
    text-align: center;
    padding: 0.2em 1em;
}

/*Grid Layout*/

.header {
    grid-area: header;
}

.left {
    grid-area: left;
    padding: 1em;
}

.right {
    grid-area: right;
    padding: 1em;
}

.grid-container {
    max-width:min-content;
    margin: auto;
    display: grid;
    grid-template-areas:
      'left header'
      'left right'
      'left right'
      'left right';
    grid-template-columns: 40% 60%;
    padding: 1em 0;
}
